<div class="splashScreen">
  <div class="splashInstruction">Sign-Up/Sign-In to view the Weather Report!!</div>
  <div class="loading">
    <div class="dot" id="dot1"></div>
    <div class="dot" id="dot2"></div>
    <div class="dot" id="dot3"></div>
    <div class="dot" id="dot4"></div>
    <div class="dot" id="dot5"></div>
    <div class="row">
		  <div class="col-md-3 mx-auto pt-4">
		    <button class="btn btn-secondary btn-block" (click)="signUpPage()">Continue -> </button>
			</div>
    </div>
  </div>
</div>