<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
	<div class="container">Weather Details</div>
	<button id="butRefresh" class="headerButton" aria-label="Refresh"></button>
    <button id="butAdd" class="headerButton" aria-label="Add"></button>
</nav>
<div class="row justify-content-md-center">
  <div class="col-md-10">
		<div id="pac-container">
      <input id="txtPlaces" type="text" placeholder="Enter a location" size=45>
    </div>
    <div id="geolocation"></div>
    <input type="submit" class="btn btn-primary btn-block" value="Get Weather">
  </div>
</div>