.headerButton {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  text-indent: -30000px;
  overflow: hidden;
  opacity: 0.54;
  transition: opacity 0.333s cubic-bezier(0,0,0.21,1);
  border: none;
  outline: none;
  cursor: pointer;
}
#butRefresh {
  background: url(../../../assets/images/ic_refresh_white_24px.svg) center center no-repeat;
}
#butAdd {
	background: url(../../../assets/images/ic_add_white_24px.svg) center center no-repeat;
}