.weatherHeader {
  font-size: 24px;
  color: white;
  padding: 10px 0;
}
.headerButton {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  text-indent: -30000px;
  overflow: hidden;
  opacity: 0.7;
  transition: opacity 0.333s cubic-bezier(0,0,0.21,1);
  border: none;
  outline: none;
  cursor: pointer;
}
#butLogout {
  background: url(../../../assets/images/logout.svg) center center no-repeat; 
}
.citySelected {
  font-size: 24px;
}
.weatherDetails {
  font-size: 20px;
}
.weatherCategory {
  font-size: 16px;  
}
