.weatherHeader {
  font-size: 24px;
  color: white;
  padding: 10px 0;
}
.headerButton {
  width: 50px;
  height: 50px;
  opacity: 0.7;
  border: none;
  cursor: pointer;
}
#butLogout {
  background: url(../../../assets/images/logout.svg) center center no-repeat; 
}
.no-gutter {
  padding-left: 0;
  padding-right: 0;
}
.smallPadding-0 {
  padding-bottom: 0;
}
.citySelected {
  font-size: 24px;
  text-align: center;
}
.weatherContainer {
  border-bottom: 1px solid #dcdcdc; 
  clear: right;
  padding: 5px 10px;
  
  &:last-of-type {
    border-bottom: none;
  }

  .weatherDetails {
    font-size: 20px;
    display: inline-block;
    float: right;
  }
  .weatherCategory {
    font-size: 16px;  
    display: inline-block;
  }
}
.locationSearchBoxContainer {
  margin-left: 10px;
}
.locationSearchBox {
  border: 1px solid #dcdcdc;
  padding: 3px 0 3px 10px;
}
@media only screen and (min-width: 768px) {
  .weatherOuterContainer {
    text-align: center;
  }
  .weatherContainer {
    border-bottom: none; 
    padding: 0;
    .weatherDetails {
      display: block;
      float: none;
    }
    .weatherCategory {
      display: block;
    } 
  }
  .smallPadding-0 {
    padding-bottom: 20px;
  }
} 