<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
  <div class="weatherHeader">Weather Details</div>  
  <ul class="nav navbar-nav ml-auto">
    <li><button id="butLogout" class="headerButton" aria-label="logout" (click)="logout()"></button></li>
  </ul>
</nav>

<div class="row justify-content-md-center">
  <div class="col-md-10">
    
    <!-- <img src="" id="userProfileImage"/> -->
    <div class="card">
      <div class="card-body">
        <div class="userName ml-2 mb-2">Hi {{userName}}</div>
        <button (click)="getLocationWeather()" class="btn btn-dark btn-sm ml-2 mb-2">Fetch Weather for my Location</button>
        
        <div class="row ml-2">
          <div class="infoToStart mb-2">Click on Add a city to get the forecast details for the city!!</div>
        </div>
        <div class="row ml-2 mb-3">
          <button (click)="toggleHide()" class="btn btn-dark btn-sm">Add a City</button>
        
          <span *ngIf = "searchBoxVisibility" class="locationSearchBoxContainer">
            <input class="locationSearchBox" id="txtPlaces" type="text" placeholder="Enter a location">  
          </span>  
        </div>
        <!-- <div *ngIf = "detailsFetched"> -->
          <ng-template ngFor let-item [ngForOf]="weatherData" let-i="index">
            <!-- <div class="container"> -->
              <div class="card mb-4">
                <div class="card-body smallPadding-0">
                  <div class="row weatherOuterContainer">
                    <div class="col-sm-12 col-md-2 no-gutter">
                      <div class="citySelected">{{item.name}}</div>      
                    </div>
                    <div class="col-sm-12 col-md-2 no-gutter weatherContainer">
                      <div class="weatherCategory">Humidity</div>
                      <div class="weatherDetails">{{item.humidity}}</div>      
                    </div>
                    <div class="col-sm-12 col-md-2 no-gutter weatherContainer">
                      
                        <div class="weatherCategory">Pressure</div>
                        <div class="weatherDetails">{{item.pressure}}</div>    
                      
                    </div>
                    <div class="col-sm-12 col-md-2 no-gutter weatherContainer">
                      
                        <div class="weatherCategory">Temperature</div>
                        <div class="weatherDetails">{{item.temp | number:'1.0-0'}}&#8451;</div>
                      
                    </div>
                    <div class="col-sm-12 col-md-2 no-gutter weatherContainer">
                      
                        <div class="weatherCategory">Max. Temp</div>
                        <div class="weatherDetails">{{item.temp_max | number:'1.0-0'}}&#8451;</div>
                      
                    </div>
                    <div class="col-sm-12 col-md-2 no-gutter weatherContainer">
                      
                        <div class="weatherCategory">Min. Temp</div>
                        <div class="weatherDetails">{{item.temp_min | number:'1.0-0'}}&#8451;</div>
                      
                    </div>
                  </div>  
                </div>
              </div>
            <!-- </div> -->
          </ng-template>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>